@{ 
    ViewBag.Title = "Section 2";
}

@if (Request.IsAuthenticated)
{
    <p>Welcome to the Embedding content setion @User.Identity.Name</p>

    <p>The content created in here relates to embedding files and images into an HTML webpage.</p>
}