@{ 
    ViewBag.Title = "Section 1";
}

@if (Request.IsAuthenticated)
{
    <p>Welcome to the Page Layout section @User.Identity.Name</p>

    <p>The content created in here is all related to how an HTML webpage would be structured</p>
}