@{ 
    ViewBag.Title = "Section 1";
}

@if (Request.IsAuthenticated)
{

    <p><b>Welcome to the Page Layout section @User.Identity.Name</b></p>
    <img src="/images/basic layout.png" alt="Basic Page Layout" align="right" style="width:304px;height:228px;">
    <p>Steps you should take in order to create a basic html website</p>
    <li>    - The first thing you want is your Header for your page/section. </li>
    <li>    - After that you will want to create a container for navigation links. </li>
    <li>    - Define the sections that you want in your website. </li>
    <li>    - Create any articles that you might want. </li>
    <li>    - Creating sidebars. (Content aside from the content) </li>
    <li>    - Create a proper footer for your page/section that has the copyright symbol to avoid plagiarism. </li>
    <li>    - Any additional detail you might want to add. </li>
    <li>    -  (Optional) Create a summary that defines a heading for the (details) element. </li>

    <br />
    <br />
    <br />
    <p><b>To create a file system website</b></p>

<li>Open Visual Studio or Visual Studio Express for Web.</li>
<li>In the File menu, click New Web Site.</li>
<li>The New Web Site dialog box is displayed.</li>
<li>Under Installed, click Visual Basic or Visual C# and then select ASP.NET Empty Web Site.</li>
<li>For this walkthrough, you create a website that does not include prebuilt pages and other resources.</li>
<li>In the Web location box, select File System, and then enter the name of the folder where you want to keep the pages for your website.</li>
<li>For example, type the folder name C:\WebSites.</li>
<li>Click OK.</li>
<li>Visual Studio creates a website project that includes a Web.config file.</li>
<li>In Solution Explorer, right - click the root of your Web site, and then click Add New Item.</li>
<li>Select Web Form, name the file Default.aspx, and then click Add.</li>
<br />
<br />
<br />
<br />

    <footer>
    Copyright &#9400 HTML5 Made Easy
    </footer>


}
