@{ 
    ViewBag.Title = "Section 1";
}

@if (Request.IsAuthenticated)
{

    <p><b>Welcome to the Page Layout section @User.Identity.Name</b></p>
    <img src="/images/basic layout.png" alt="Basic Page Layout" align="right" style="width:304px;height:228px;">
    <p>Steps you should take in order to create a basic html website</p>
    <li>    - The first thing you want is your Header for your page/section. </li>
    <li>    - After that you will want to create a container for navigation links. </li>
    <li>    - Define the sections that you want in your website. </li>
    <li>    - Create any articles that you might want. </li>
    <li>    - Creating sidebars. (Content aside from the content) </li>
    <li>    - Create a proper footer for your page/section that has the copyright symbol to avoid plagiarism. </li>
    <li>    - Any additional detail you might want to add. </li>
    <li>    -  (Optional) Create a summary that defines a heading for the (details) element. </li>














    <footer>
        Copyright &#9400 HTML5 Made Easy
    </footer>
    
}