@{
    ViewBag.Title = "Admin";
}

@if (Request.IsAuthenticated)
{
    <p>Welcome to Admin site @User.Identity.Name</p>

    <p>ADMIN PAGE</p>

    <p>@ViewBag.teststring</p>


    
    @Html.ActionLink("Edit User Roles", "UserRoles", "Admin")
  
}