@{
    ViewBag.Title = "Admin";
}

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <p>Welcome to ADMIN PAGE @User.Identity.Name</p>


        using (Html.BeginForm("UserRoles", "Admin"))
        {
            <input type="submit" value="Edit User Roles" />
        }

  //      @Html.ActionLink("Edit User Roles", "UserRoles", "Admin")

    }

}