@{
    ViewBag.Title = "Admin";
}

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <p>Welcome to ADMIN PAGE @User.Identity.Name</p>


        using (Html.BeginForm("UserRoles", "Admin"))
        {
            
            <input type="submit" value="Edit User Roles" />
        }


        using (Html.BeginForm("createnewuser", "Account"))
        {
            @Html.AntiForgeryToken();
            <input type="submit" value="Create New User" />
        }

        //      @Html.ActionLink("Edit User Roles", "UserRoles", "Admin")

    }

}