@{
    ViewBag.Title = "editroles";
}

@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <h1><b>Welcome to the Edit Roles Page @User.Identity.Name</b></h1><br />
        <p>On this page you will be able to change user roles within the application.</p>

        using (Html.BeginForm("AdminIndex", "Admin"))
        {
            <input type="submit" value="Back" />
        }
        for (int i = 0; i < ViewBag.User.Count; i++)
        {
            <br />
            <p>User:    @ViewBag.user[i]</p>
            <p>Role:    @ViewBag.userROLE[i] </p>
            using (Html.BeginForm("ProcessRoleChange", "Admin", new { userID = ViewBag.userID[i], currentrole = ViewBag.userROLE[i] }))
            {
                @Html.DropDownList("selectedrole",new List<SelectListItem>
           {
               new SelectListItem {Text="Select new Role", Value=ViewBag.userROLE[i] },
               new SelectListItem {Text="User", Value="User" },
               new SelectListItem {Text="Teacher", Value="Teacher" },
               new SelectListItem {Text="Admin", Value="Admin" },
           })
                <br />
                <br />
                <input type="submit" value="Submit" />
            }

        }
    }
}