@{ 

    ViewBag.Title = "Web App Home";

}

@if (Request.IsAuthenticated)
{
    <p>Welcome to the Navigation Method page @User.Identity.Name</p>

    <p>The content created in here relates to all the best navigation methods for navgiating HTML websites</p>
}


