@{ 

    ViewBag.Title = "Web App Home";

}

@if (Request.IsAuthenticated)
{
    <h1>Welcome to HTML5 Made Easy @User.Identity.Name</h1><br />
    <h4>This site is dedicated to teaching people the basics of HTML5.</h4><br />
    <img src="~/Content/Images/Photo1.png" style="float:right" height="250" width="250"/>
    <p>
        This site will cover what HTML5 is and how HTML5 is used to create a basic webpage layout including the title and text layout. This is done on the Page Layout Page<br />
        <br />
        On the Embedded Content page you will learn how to embed images known as graphics and how to set and control there size and layout and you will also learn how to embed video content
        including the size of the display and how that video is controlled and played. <br />
        <br />
        On the Navigation page you will learn how to create navigation bars including a text based navigation bar and a graphical images based navigation bar. You will also learn how to create
        a redirection page on the chance that you want to move URL locations some time in the future or want to use a redirection page for something else.
        <br />
        <br />


    </p>
    <img src="~/Content/Images/internet.jpg" height="400" width="400" />
}


