@{ 
    ViewBag.Title = "Admin";
}

@if (Request.IsAuthenticated)
{
    <p>Welcome to Admin page @User.Identity.Name</p>


  <p>The content created in this section should show all the current users of the website and changable options for roles and layout.</p>

  @User.Identity.Name

}