@{
    ViewBag.Title = "NewMessage";
}

@if (Request.IsAuthenticated)
{
    <p>Welcome to the NEW MESSAGE PAGE @User.Identity.Name</p>

    <div>
        @using (Html.BeginForm("Index", "Message"))
        {
            <input type="submit" value="Cancel" />
        }

        <br />

        @using (Html.BeginForm("Submit", "Message"))
        {
            <p>From: <input type="text" value="@ViewBag.userdetails[0] @ViewBag.userdetails[2]" disabled /></p>
            <br />
            <p>
                To: @Html.DropDownList("selecteduser", new SelectList(ViewBag.senduserNAME, ViewBag.senduserID))
            </p>
            <br />

            <p><input type="text" placeholder="Subject" /></p>
            <br />
            <p>Message: </p>
            <p>
                <textarea name="message" cols="50" rows="10" wrap="hard"></textarea>
                <br />
                <input type="submit" value="Send" />
            </p>
        }
    </div>

}